include ../textField/textField.pug
include ../pagination/pagination.pug

mixin table-app(options) 
  -const {title, subtitle, tabHeaders, rowsArr, showOnPage} = options || {};
  .table-card 
    .table-card__header 
      .table-card__header__col
        h2.table-card__title= title 
        p.table-card__subtitle= subtitle 

      +text-field({
        iconPath: 'search.svg',
        placeholder: 'Search',
      })(class="table-card__input")
    .table-card__content
      .table-card__content-padding
      table(class!= attributes.class)
        thead 
          tr.move-up
            each val in tabHeaders 
              th= val
        tbody 
          each row in rowsArr 
            tr.move-up
              - const values = Object.values(row)
              each col in values 
                -const buttonTitle = col ? 'Active' : 'Inactive';
                if typeof col == 'boolean'
                  td 
                    button.table-app__button(class=col ? 'active' : null)
                      span= buttonTitle

                else
                  td= col
      .table-card__content-padding
    .table-card__bottom
      span.table-card__info Showing data 1 to #{showOnPage} of  256K entries
      +pagination({min: 4, max: 40})
